<h2>Editar item: {{ editar.getDescripcion() }}</h2>
					<form method="post" action="ABM_Items.php" id="form_item_edit" name="form_item_edit">
						<input type="hidden" id="id" name="id" value={{ editar.getId() }}>
						<table>
							<tr>
								<td>Descripcion:</td>
								<td><input type="text" name="descripcion" id="descripcion" value="{{ editar.getDescripcion() }}" class="required"></td>
							</tr>
							<tr>
							<td>Categoria:</td>
							<td>
								<select name="categoria_id">	
								
								{% for categoria in categorias %}
									<option value={{ categoria.getId() }}
									{% if editar.getCategoriaId() == categoria.getId() %}
										selected='selected'
									{% endif %}
									>{{ categoria.getDescripcion() }}</option>
								{% endfor %}

								</select>
							</td>
							</tr>
							<tr>
							<td>Tipo item:</td>
							<td>
								<select name="tipo_item_id">	
								<option value="1" {% if editar.getTipoItemId() == 1 %} selected='selected' {% endif %}>Label</option>
								<option value="2" {% if editar.getTipoItemId() == 2 %} selected='selected' {% endif %}>Separador</option>
								<option value="3" {% if editar.getTipoItemId() == 3 %} selected='selected' {% endif %}>Item</option>							
								</select>
							</td>
							</tr>
							<tr>
							<td>Tipo input:</td>
							<td>
								<select name="tipo_input">	
								<option value="text" {% if editar.getTipoInput() == "text" %} selected='selected' {% endif %}>text</option>
								<option value="date" {% if editar.getTipoInput() == "date" %} selected='selected' {% endif %}>date</option>								
								</select>
							</td>
							</tr>
							<tr>
							<td>Buscable?:</td>
							<td>
								<input type=radio name="buscable" value="0" {% if editar.getBuscable() == 0 %} CHECKED {% endif %}>No<br>
								<input type=radio name="buscable" value="1" {% if editar.getBuscable() == 1 %} CHECKED {% endif %}>Si<br>
							</td>
							</tr>
							<tr>
							<td>Repetible?:</td>
							<td>
								<input type=radio name="repetible" value="0"  {% if editar.getRepetible() == 0 %} CHECKED {% endif %}>No<br>
								<input type=radio name="repetible" value="1"  {% if editar.getRepetible() == 1 %} CHECKED {% endif %}>Si<br>
							</td>
							</tr>
							<tr>
							<td>Borrado?:</td>
							<td>
								<input type=radio name="borrado" value="0"  {% if editar.getBorrado() == 0 %} CHECKED {% endif %}>No<br>
								<input type=radio name="borrado" value="1"  {% if editar.getBorrado() == 1 %} CHECKED {% endif %}>Si<br>
							</td>
							</tr>
						</table>
						<br>
						<input type="submit" name="submitEditar" value="Guardar cambios">
						<input type="submit" onsubmit="ABM_Items.php"  value="Cancelar">								
					</form>
