<a class='enlace' href="?agregar">Agregar plantilla</a>
					<table id="users-table">
						<thead>
						<tr>
								<th>Descripcion</th>
								<th>Borrado</th>		
						</tr>
						</thead>
						<tbody>
							{% for plantilla in plantillas | slice(inicio,itemsxpag) %}
								<tr><td>{{ plantilla.getDescripcion() }}</td>
								{% if plantilla.getBorrado() == 1 %}
									<td>Si</td>
								{% else %}
									<td>No</td>
								{% endif %}
								<td><a class='enlace' href="?editar={{ plantilla.getId() }}">Editar</a></td></tr>
							{% endfor %}																																																																																																																																		
						</tbody>	
					</table>
					{% for i in range(1, cantpag) %}
					    <a class='enlace' href="?pagina={{ i }}">{{ i }}</a> 
					{% endfor %}
					{% if hayMensaje == true %}
						<div> Mensaje: {{ mensaje }} </div>
					{% endif %}		